.footer-section {
	padding-top: 60px;
	padding-bottom: 60px;
	justify-content: center;
	background: var(--section-darkgrey);
}

.footer-container {
	display: block;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;

	@media screen and (min-width: $tabl_width) {
		display: flex;
		width: $tabl_width;
	}

	@media screen and (min-width: $desktop_width) {
		width: $desktop_width;
		align-items: center;
		flex-wrap: nowrap;
	}
}

.footer-address__box {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	@media screen and (min-width: $tabl_width) {
		width: 50%;
	}

	@media screen and (min-width: $desktop_width) {
		justify-content: left;
		padding-right: 20px;
		margin: 0;
		width: 300px;
	}
}

.footer__logo {
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--color-maxwite);

	@media screen and (min-width: $desktop_width) {
		display: block;
		font-size: 26px;
	}
}

.footer-address {
	margin-top: 20px;
}

.footer-address__item {
	margin-bottom: 9px;
	display: flex;
	justify-content: center;
	padding: auto;
	width: 100%;

	&:last-child {
		margin-bottom: 0px;
	}

	@media screen and (min-width: $desktop_width) {
		display: block;
	}
}

.footer-address__link {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	font-style: normal;
	color: var(--color-maxwite);
}

.footer__link {
	font-size: 14px;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--text-witetransparent);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--target-blue);
	}
}

.footer-soc {
	width: 100%;
	margin-top: 60px;

	@media screen and (min-width: $tabl_width) {
		width: 50%;
		margin-top: 0;
		align-items: flex-start;
	}

	@media screen and (min-width: $desktop_width) {
		width: 299px;
	}
}

.footer-soc__text {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;

	font-weight: 700;
	letter-spacing: 0.03em;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--color-maxwite);

	@media screen and (min-width: $desktop_width) {
		display: block;
	}
}

.footer-soc__list {
	display: flex;
	justify-content: center;
	gap: 10px;

	@media screen and (min-width: $desktop_width) {
		justify-content: left;
	}
}

.footer-soc__item {
	width: 44px;
	height: 44px;
}

.footer-soc__link {
	width: 100%;
	height: 100%;
	background: var(--color-wite-rgba);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--color-maxwite);

	transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:focus,
	&:hover {
		background: var(--target-blue);
	}
}

.footer-form {
	margin-top: 60px;
	flex-wrap: wrap;
	width: 100%;

	@media screen and (min-width: $desktop_width) {
		width: calc($desktop_width - 600px);
		margin-top: 0;
	}
}

.footer-form__svg {
	fill: var(--color-maxwite);
}

.footer-form__p {
	display: flex;
	justify-content: center;
	width: 100%;

	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;

	color: var(--color-maxwite);

	@media screen and (min-width: $desktop_width) {
		display: block;
		margin-bottom: 20px;
	}
}

.footer-form__input {
	margin: 20px 0;
	padding-left: 16px;
	width: 100%;
	max-width: 450px;
	height: 50px;

	color: var(--color-maxwite);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background: var(--section-darkgrey);

	&::placeholder {
		line-height: 20px;

		color: rgba(255, 255, 255, 0.6);
	}

	@media screen and (min-width: $tabl_width) {
		margin: 20px calc(($tabl_width - 450px) / 2);
	}

	@media screen and (min-width: $desktop_width) {
		width: 358px;
		margin: 0 12px 0 0;
	}
}

.footer-form__box {
	justify-content: center;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop_width) {
		display: flex;
	}
}

.footer-form__button {
	margin: 0 auto;
	width: 200px;
	height: 50px;

	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	background: #2196F3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	letter-spacing: 0.06em;
	color: var(--color-maxwite);
	@media screen and (min-width: $desktop_width) {
		margin: 0;
	}
}