.container__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;

	@media screen and (min-width: $desktop_width) {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
}

.container__item {
	margin-bottom: 30px;

	@media screen and (max-width: $desktop_width) {
		&:last-child {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: $tabl_width) and (max-width: $desktop_width) {
		height: calc(120px + 136px - 30px);
		width: 354px;
		margin-right: 30px;
		margin-top: 0;
		margin-left: 0;

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-child(n+3) {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: $desktop_width) {
		height: 270px;
		width: 270px;
		margin-right: 30px;
		margin-bottom: 0;

		&:last-child {
			margin-right: 0;
		}
	}
}

.picture-conteiner {
	width: 370px;
}

.container-blok {
	width: 100%;
	height: 120px;
	margin-bottom: 30px;
}

.container-blok__link {
	width: 100%;
	height: 100%;
	background: var(--section-witegrey);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:focus,
	&:hover {
		color: var(--target-blue);
	}
}

.container__subtitel {
	margin-bottom: 10px;
	font-weight: 700;
	letter-spacing: 0.03em;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--text-blak);

	@media screen and (max-width: $tabl_width) {
		text-align: center;
	}
}

.benefits-picture-list {
	justify-content: space-around;
}

.gallery-section__box {
	position: relative;
}

.gallery-section__text {
	position: absolute;
	bottom: 0;

	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--color-maxwite);
	background: rgba(47, 48, 58, 0.8);
}

.container__text {
	line-height: 1.71;
}

.gallery-section {
	display: none;

	@media screen and (min-width: $desktop_width) {
		overflow: visible;
		padding-top: 0px;
		height: auto;
		padding-bottom: 94px;
		display: flex;
		justify-items: center;
	}
}

.sections__titel {
	font-weight: 700;
	font-size: 28px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--text-blak);

	margin-top: 0px;
	margin-bottom: 50px;

	@media screen and (min-width: $desktop_width) {
		font-size: 36px;
	}
}

.cart-section__item {
	margin-bottom: 30px;
	text-align: center;
	justify-content: center;

	background: #FFFFFF;
	box-shadow:
		0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	@media screen and (min-width: $tabl_width) and (max-width: $desktop_width) {
		width: calc($tabl_width / 2 - 30px);
		margin-right: 30px;
		margin-top: 0;
		margin-left: 0;

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-child(n+3) {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: $desktop_width) {
		width: 270px;
		margin-bottom: 0;

		&:last-child {
			margin-right: 0;
		}
	}
}

.cart-section__item--logo {
	width: 44px;
	height: 44px;
	display: flex;
	text-align: center;
	justify-content: center;

	background: #FFFFFF;
}

.cart-section__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--text-blak);

	margin-bottom: 10px;
}

.cart-section__text {
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;

	margin-bottom: 16px;
}

.cart-section__box {
	padding: 30px 0;
}

.cart-section__list {
	display: flex;
	justify-content: center;
	gap: 10px;

}

.cart-section__link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--color-grey-two);

	transition-property: background, fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:focus,
	&:hover {
		background: var(--target-blue);
		fill: var(--color-maxwite);
	}
}

.client__item {
	height: 92px;
	width: calc(100% / 2 - 30px);
	margin-right: 30px;
	margin-bottom: 30px;

	@media screen and (max-width: $tabl_width) {
		&:nth-child(n+5) {
			margin-bottom: 0;
		}

		&:nth-child(2n) {
			margin-right: 0;
		}
	}


	@media screen and (min-width: $tabl_width) and (max-width: $desktop_width) {
		width: calc($tabl_width / 3 - 30px);

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-child(n+4) {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: $desktop_width) {
		width: calc($desktop_width / 6 - 30px);
		margin-bottom: 0;

		&:last-child {
			margin-right: 0;
		}
	}
}

.client__link {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: 1px solid var(--color-grey-two);
	fill: var(--color-grey-two);
	display: flex;
	justify-content: center;
	align-items: center;

	transition-property: border-color, fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border-color: var(--target-blue);
		fill: var(--target-blue);
	}
}