.hero-section {
	padding: 200px 0;
	background: var(--section-darkgrey);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 1600px;
	max-height: 600px;
	margin: 0 auto;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)),
		url(../../images/people_develop_a_car_model-mob.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		background-image:
			url(../../images/people_develop_a_car_model-mob-2x.jpg);
	}

	@media screen and(min-width: $tabl_width) {
		background-image:
			url(../../images/people_develop_a_car_model-tab.jpg);

		@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			background-image:
				url(../../images/people_develop_a_car_model-tab-2x.jpg);
		}
	}

	@media screen and(min-width: $desktop_width) {
		background-image:
			url(../../images/people_develop_a_car_model.jpg);

		@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			background-image:
				url(../../images/people_develop_a_car_model-2x.jpg);
		}
	}
}

.hero-section__title {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

	width: 360px;
	font-weight: 900;
	font-size: 26px;
	line-height: 1.61;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--color-maxwite);

	@media screen and (min-width: $desktop_width) {
		font-size: 44px;
		line-height: 1.36;
		width: 696px;
	}
}

.hero-section__button {
	margin: 0 auto;
	padding: 10px 32px;

	border: none;
	font-family: 'Roboto';
	background: var(--target-blue);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	letter-spacing: 0.06em;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	color: var(--color-maxwite);

	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		box-shadow: 0px 4px 4px rgb(24, 138, 232);
		;
	}
}