.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media screen and (max-width: calc($desktop_width - 1px)) {
		width: 95%;
		max-width: 450px;
		height: 95%;
		max-height: 609px;
		overflow: scroll;
	}

	@media screen and (min-width: $desktop_width) {
		width: 528px;
		height: 581px;
	}

	border-radius: 4px;
	background-color: var(--color-maxwite);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
	0px 1px 1px rgba(0, 0, 0, 0.14),
	0px 2px 1px rgba(0, 0, 0, 0.2);

	padding: 40px;
}

.backdrop-modal__batton {
	position: fixed;
	top: 14px;
	right: 14px;

	width: 30px;
	height: 30px;
	display: flex;
	justify-items: center;
	align-items: center;

	background-color: transparent;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.1);
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		fill: var(--target-blue)
	}
}