.accent {
	color: var(--target-blue);
}

.section {
	display: flex;
	justify-items: center;
	@media screen and (min-width: $tabl_width) {
		width: $tabl_width;
		padding-top: 94px;
		padding-bottom: 94px;
	}
	@media screen and (min-width: $desktop_width) {
		width: $desktop_width;
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.container {
	margin: 0 auto;
	width: $fone_width;
	padding: 0 15px;
	@media screen and (min-width: $tabl_width) {
		width: $tabl_width;
	}
	@media screen and (min-width: $desktop_width) {
		width: $desktop_width;
	}
}

.cart-section {
	background: var(--section-witegrey);
}

.container-center {
	text-align: center;
	justify-content: center;
}

.hidden {
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
