.accent {
	color: var(--target-blue);
}

.section {
	padding: 60px 0;
	@media screen and (min-width: $desktop_width) {
		padding: 94px 0;
		display: flex;
		justify-items: center;
		
	}
}

.container {
	margin: 0 auto;
	width: 480px;
	padding: 0 15px;
	@media screen and (min-width: $tabl_width) {
			width: $tabl_width;
	}
	@media screen and (min-width: $desktop_width) {
		width: $desktop_width;
	}

}

.cart-section {
	background: var(--section-witegrey);
}

.container-center {
	text-align: center;
	justify-content: center;
}

.hidden {
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
