:root {
	--target-blue: #2196F3;
	--section-darkgrey: #2F303A;
	--section-witegrey: #F5F4FA;
	--text-grey: #757575;
	--text-blak: #212121;
	--text-witetransparent: #FFFFFF99;
	--blue-buttom-backgraud: rgb(24, 138, 232);
	--color-zeroblak: #000;
	--color-maxwite: #fff;
	--color-wite-rgba: rgba(255, 255, 255, 0.1);
	--color-grey-two: #AFB1B8;
}